<% if @posixaccount %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Modify group membership for <%= @posixaccount.uid %></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" method="post" action="/ldap/posixaccount/<%= @posixaccount.uid %>/groups">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="roles">POSIX Groups</label>
          <div class="controls">
            <% ldap_admin.posixgroups.each do |group| %>
              <label class="checkbox">
                <input type="checkbox" name="<%= html_id("group_#{group.cn}") %>" value="<%= group.dn %>" <%= @posixaccount.member_of?(group.dn) ? 'checked="checked"' : '' %>/>
                <%= group.cn %>
              </label>
            <% end %>
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
      </fieldset>
    </form>
  </div>
<% end %>
